<nav class="navbar navbar-expand-lg navbar-light bg-priates sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold logo" href="/">
      <h2 class="text-white">pirates</h2>
    </a>
    <!-- <div class="search">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div> -->
    <!-- <div>
      <button
        class="navbar-toggler mt-2 text-white"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars fs-5 close"></i>
      </button>
    </div> -->
    <div class=" navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href="/cart">
            <i class="fa-solid fa-cart-shopping"></i>
            Cart <% if (isAuthenticate) { %>
            <span class="badge text-bg-success"><%= cartQuantity %></span>
            <% } %>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-user"></i>
            <span> <%= user?.userName %> </span>
          </a>
          <ul class="dropdown-menu">
            <% if (isAuthenticate && user.role === 'admin') { %>
            <li>
              <a class="dropdown-item" href="/admin/dashboard">Dashboard</a>
            </li>
            <% } %> <% if (isAuthenticate) { %>
            <li><a class="dropdown-item" href="/profile">Profile</a></li>
            <li><a class="dropdown-item" href="/orders">Orders</a></li>
            <form action="/logout" method="post">
              <input type="hidden" name="_csrf" value="<%= csrf %>" />
              <li>
                <a class="dropdown-item" href="#">
                  <button
                    type="submit"
                    style="
                      border: none;
                      background: none;
                      width: 100%;
                      text-align: left;
                    "
                  >
                    Logout
                  </button>
                </a>
              </li>
            </form>
            <% } else { %>
            <li>
              <a class="dropdown-item" href="/login">
                Login
                <i class="fas fa-sign-in-alt"></i>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="/register"> Register </a>
            </li>
            <% } %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
