<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .error-page {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        margin-top: 60px;
      }
      span {
        display: block;
        font-size: 22px;
        text-align: center;
      }
      img {
        width: 600px;
        height: 300px;
        object-fit: cover;
        max-width: 100%;
      }
      a {
        display: block;
        margin-top: 20px;
        text-align: center;
        color: #000;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="error-page">
      <div>
        <span>This Page Is Not Avaliable</span>
        <img
          class="img-fluid"
          src="images/404 error with people holding the numbers-pana.png"
          alt=""
        />
        <a href="/">Back To Pirates</a>
      </div>
    </div>
  </body>
</html>
